.mr-masolov-projects {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    margin: auto;
    display: flex;
    gap: 16px;
    align-content: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 142px);
}
