.mr-masolov-project {
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transform: rotateY(90deg);
    transition: transform 1s ease;
}

.mr-masolov-project.visible {
    transform: rotateY(0);
}

.mr-masolov-project:hover h3::after {
    transition-delay: 0.8s;
    transform: translate(-20%, 4px);
}

.mr-masolov-project:hover .mr-masolov-project-inner--content {
    top: 0;
}

.mr-masolov-project h3 {
    color: #15db95;
    margin-bottom: 8px;
}

.mr-masolov-project h3::after {
    content: "";
    background-color: #15db95;
    height: 4px;
    width: 100%;
    display: block;
    border-radius: 2px;
    transform: translate(-80%, 4px);
    transition: transform 0.8s ease;
}

.mr-masolov-project-inner {
    padding-bottom: 100%;
    color: #ffffff;
    position: relative;
}

.mr-masolov-project-inner--content {
    padding: 8px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #000000);
    position: absolute;
    top: calc(100% - 44px);
    bottom: 0;
    transition: top 0.8s ease;
    display: flex;
    flex-direction: column;
}

.mr-masolov-project-inner--content p {
    flex: 1;
}

.mr-masolov-project-inner--content-actions {
    display: flex;
    margin-top: 4px;
}

.mr-masolov-project-inner--content-actions a {
    color: #ffffff;
    text-decoration: none;
    padding: 4px 8px;
    border: 2px solid #ffffff;
    border-radius: 16px;
    transition: 0.4s ease;
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.mr-masolov-project-inner--content-actions a:hover {
    color: #15db95;
    border-color: #15db95;
}

.mr-masolov-project-inner--content-actions a svg {
    margin-right: 4px;
    fill: #ffffff;
    transition: 0.4s ease;
}

.mr-masolov-project-inner--content-actions a:hover svg {
    fill: #15db95;
}

@media only screen and (min-width: 450px) {
    .mr-masolov-project {
        width: 50%;
    }
    .mr-masolov-project:nth-child(2) {
        transition-delay: .4s;
    }
    .mr-masolov-project:nth-child(3) {
        transition-delay: .8s;
    }
    .mr-masolov-project:nth-child(4) {
        transition-delay: 1.2s;
    }
    .mr-masolov-project:nth-child(5) {
        transition-delay: 1.6s;
    }
    .mr-masolov-project:nth-child(6) {
        transition-delay: 2s;
    }
}

@media only screen and (min-width: 900px) {
    .mr-masolov-project {
        width: calc(100%/3);
    }
    .mr-masolov-project:nth-child(2) {
        transition-delay: .5s;
    }
    .mr-masolov-project:nth-child(3) {
        transition-delay: 1s;
    }
    .mr-masolov-project:nth-child(4) {
        transition-delay: 1.5s;
    }
    .mr-masolov-project:nth-child(5) {
        transition-delay: 2s;
    }
    .mr-masolov-project:nth-child(6) {
        transition-delay: 2.5s;
    }
}