.mr-masolov-header,
.mr-masolov-navigation {
  width: 100%;
  background-color: #0d19a3;
  color: #ffffff;
}

.mr-masolov-header {
  display: flex;
  height: calc(100vh - 80px);
  overflow: hidden;
  position: relative;
}

.mr-masolov-header-inner,
.mr-masolov-navigation-inner {
  width: 100%;
  max-width: 1200px;
  padding: 16px;
  margin: auto;
}

.mr-masolov-header-inner h1 {
  font-weight: 600;
  font-size: 3rem;
  color: #15db95;
}
.mr-masolov-header-inner h3 {
  font-weight: 400;
  font-size: 2rem;
}

.mr-masolov-navigation {
  background-color: #080f5b;
  position: sticky;
  top: 0;
  z-index: 10;
}

.mr-masolov-navigation-inner--sandwich-menu {
  display: inline-block;
  cursor: pointer;
}

.mr-masolov-navigation-inner--sandwich-menu .bar1,
.mr-masolov-navigation-inner--sandwich-menu .bar2,
.mr-masolov-navigation-inner--sandwich-menu .bar3 {
  width: 32px;
  height: 4px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: 0.4s ease;
}

.mr-masolov-navigation-inner--sandwich-menu.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 6px);
  transform: rotate(-45deg) translate(-4px, 6px);
}

.mr-masolov-navigation-inner--sandwich-menu.active .bar2 {
  opacity: 0;
}

.mr-masolov-navigation-inner--sandwich-menu.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.mr-masolov-navigation-inner--sandwich-menu-inner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  margin: 8px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
}

.mr-masolov-navigation-inner--sandwich-menu-inner h3 {
  margin: 8px;
}

.mr-masolov-navigation-inner {
  color: #15db95;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mr-masolov-navigation-inner h3 {
  color: #15db95;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
  margin-left: 16px;
}

.mr-masolov-navigation-inner h3:hover,
.mr-masolov-navigation-inner h3:focus {
  color: #0d9464;
}

.mr-masolov-navigation-inner--logo {
  width: 48px;
  cursor: pointer;
}

.mr-masolov-navigation-inner--menu {
  display: none;
}

.mr-masolov-header-inner--accent1,
.mr-masolov-header-inner--accent2,
.mr-masolov-header-inner--accent3 {
  position: absolute;
  background-color: #080f5b;
  width: 200%;
  height: 50%;
  right: 0;
}

.mr-masolov-header-inner--accent1 {
  transform: skewY(-14deg);
  top: 96%;
  opacity: 0.2;
}

.mr-masolov-header-inner--accent2 {
  transform: skewY(-12deg);
  top: 98%;
  opacity: 0.4;
}

.mr-masolov-header-inner--accent3 {
  transform: skewY(-10deg);
  top: 100%;
}

@media only screen and (min-width: 768px) {
  .mr-masolov-navigation-inner--sandwich-menu {
    display: none;
  }
  .mr-masolov-navigation-inner--menu {
    display: flex;
  }
}
