.mr-masolov-skills {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: calc(100vh - 142px);
}

.mr-masolov-skills--logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 128px;
}

.mr-masolov-skills img {
    width: 100%;
    height: auto;
    max-width: 80px;
    max-height: 120px;
    cursor: pointer;
    transition: transform 0.4s ease;
    margin: 8px;
}

.mr-masolov-skills img:hover {
    transform: scale(1.1);
}

.mr-masolov-skills--group {
    display: flex;
    flex-flow: wrap;
}

.mr-masolov-skills--group-unit {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (min-width: 600px) {
    .mr-masolov-skills--group-unit {
        width: 50%;
    }
}
