.mr-masolov-skills {
  width: 100%;
  max-width: 1200px;
  padding: 16px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 142px);
}

.mr-masolov-skills--logos {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.mr-masolov-skills img {
  width: 100%;
  max-width: 80px;
  height: fit-content;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.mr-masolov-skills img:hover {
  transform: scale(1.1);
}
