.mr-masolov-skills {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    margin: auto;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: calc(100vh - 142px);
}

.mr-masolov-skills--logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 128px;
    gap: 8px;
}

.mr-masolov-skills img {
    width: 100%;
    height: auto;
    max-width: 80px;
    max-height: 120px;
    cursor: pointer;
    transition: 0.4s ease;
    margin: 8px;
}

.mr-masolov-skills img:hover {
    transform: scale(1.1);
}

.mr-masolov-skills--group {
    display: flex;
    flex-flow: wrap;
    gap: 16px;
}

.mr-masolov-skills--group-unit {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mr-masolov-skills--skill {
    position: relative;
}

.mr-masolov-skills--skill:hover .mr-masolov-skills--skill-level {
    opacity: 1;
}

.mr-masolov-skills--skill-level {
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    opacity: 0;
    transition: .4s ease;
    color: #808080;
}

.mr-masolov-skills--skill-level .checked {
    color: #ffa500;
}

@media only screen and (min-width: 650px) {
    .mr-masolov-skills--group-unit {
        width: calc(50% - 8px);
    }
}
