.mr-masolov-skills {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    justify-content: center;
    align-items: center;
}

.mr-masolov-skills img {
    width: 100%;
    max-width: 80px;
    height: fit-content;
}