*, *:active, *::before {
  box-sizing: border-box;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

.mr-masolov-section-heading {
  width: 100%;
  background-color: #e4c580;
  color: #ffffff;

  font-family: 'Montserrat', sans-serif;
}

.mr-masolov-section-heading-inner {
  max-width: 1200px;
  padding: 16px;
  margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');