@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*:active,
*::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Montserrat", sans-serif;
    background-color: #080f5b;
    color: #ffffff;
}

.mr-masolov-section-heading {
    width: 100%;
    background-color: #e4c580;
    color: #ffffff;
}

.mr-masolov-section-heading-inner {
    max-width: 1200px;
    padding: 16px;
    margin: auto;
    line-height: 30px;
    display: flex;
    gap: 4px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.4);
}

body::-webkit-scrollbar-thumb {
    background-color: #15db95;
}

.mr-masolov-greeting {
    background-color: #0d19a3;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.mr-masolov-greeting-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    z-index: 1000;
}

.mr-masolov-greeting input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    padding: 8px;
    outline: none;
    color: #15db95;
    width: 100%;
    font-size: 24px;
    margin: 16px 0;
    border-radius: 0;
    font-family: "Montserrat", sans-serif;
}

.mr-masolov-greeting button {
    background-color: transparent;
    border: 2px solid #15db95;
    border-radius: 16px;
    padding: 8px 16px;
    outline: none;
    color: #15db95;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 200;
}

.mr-masolov-greeting button:hover,
.mr-masolov-greeting button:focus {
    color: #0d9464;
    border-color: #0d9464;
}

.mr-masolov-header-inner--accent {
    position: absolute;
    left: 0;
    bottom: 0;
}